/* FONT IMPORT */
@font-face {
    font-family: Raleway;
    src: url("../fonts/raleway/Raleway-Regular.ttf");
}

/* UNIVERSAL */
body {
    font-family: Raleway, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* APP */

@media screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu,
    .btn-group:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        margin-top: 0;
    }
    .dropdown-toggle {
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle,
    .nav-tabs .dropdown-toggle {
        margin-bottom: 0;
    }
}

/* dropdown */

.drop-hover {
    border-radius: 0px;
    background-color: #3a3c42;
}

.drop-hover a:hover,
.drop-hover button:hover {
    background-color: #1c78c4;
}

.header-top {
    background-color: #3a3c42;
}

.pt {
    font-size: 0.9rem;
}

.navbar {
    background-color: rgba(28, 120, 196, 0.9);
    padding: 0.8rem 1rem;
}

.nav-item {
    padding: 0px 25px;
    font-size: 1rem;
}

.nav-item:hover {
    background-color: #3a3c42;
}

.active {
    background-color: #3a3c42;
}

.links a {
    text-decoration: none;
    font-size: 1.2rem;
}

/* HOME */
.feature {
    transition: transform 0.6s ease;
    cursor: pointer;
}

.feature:hover {
    transform: scale(1.2);
}

.hfeature {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.dfeature {
    font-size: 1rem;
}
/* PRODUCT */

.btn-category-product {
    background-color: #3a3c42;
    border: none;
    border-radius: 0%;
    transition: 0.3s;
}

.btn-category-product:hover {
    background-color: #1c78c4;
}

.btn-category-product .active {
    background-color: transparent;
}

.product .card,
.product .card .image {
    cursor: pointer;
    border-radius: 0px;
    overflow: hidden;
    transition: 0.3s;
}
.product .card .image img {
    transition: 0.8s;
}
.product .card-body {
    background-color: #1c78c4;
    border: none;
    color: #eaeaea;
    font-weight: bold;
    font-size: 1rem;
}

.product .card:hover {
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

.product .card .image img:hover {
    transform: scale(1.1);
}

#modalDetails .name {
    font-size: 2rem;
    font-weight: bold;
    color: #1d1d1d;
}
.navbar-toggler.category {
    color: #1c78c4;
}

.btn-category-product.active {
    background-color: #1c78c4;
}

/* SERVICE */
.btn-category-service {
    background-color: #3a3c42;
    border: none;
    border-radius: 0%;
    transition: 0.3s;
}

.btn-category-service:hover {
    background-color: #1c78c4;
}

.btn-category-service .active {
    background-color: transparent;
}

.btn-category-service.active {
    background-color: #1c78c4;
}

.service .card,
.service .card-body {
    cursor: pointer;
    border-radius: 0px;
    overflow: hidden;
    transition: 0.3s;
}

.service .card .card-body .service-img {
    transition: 0.8s;
}

.service .card:hover {
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

.service .card .card-body .service-img:hover {
    transform: scale(1.1);
}

.service-header{
    font-size: 1.2rem;
}

/* CAREER */
.ttl {
    border-radius: 0;
}

.qualify {
    font-size: 1.2rem;
}

.dftr {
    font-size: 1.5rem;
}

.form-register-carrers {
    font-size: 1.05rem;
}

.imgup {
    font-size: 1.2rem;
}

.imgformat {
    font-size: 0.9rem;
}

/* ADMIN LOGIN */

.login-all{
    height: 100%;
}

.login-content{
    height: 100%;
}

.login-brand{
    height: 100%;
}

.banner{
    width: 300px;
    height: 300px;
}

/* SOSMED */

.sosmed {
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 999;
}
.sosmed ul {
    padding: 0;
}
.sosmed ul a {
    padding: 0;
    width: 47px;
    height: 47px;
    transition: 0.3s;
}
.sosmed ul a li {
    padding: 0;
    padding-top: 0.3rem;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    color: #eaeaea;
    width: 100%;
    height: 100%;
}

.sosmed ul a:hover {
    width: 65px;
}

/* CUSTOM LIBRARY */
.text-low {
    color: darkgray !important;
}

a.text-low:hover,
a.text-low:focus {
    color: #e9e9e9 !important;
}

.bg-main {
    background-color: #1c78c4 !important;
}

.btn-main {
    background-color: #1c78c4 !important;
}

.btn-main:hover {
    background-color: #165b94 !important;
}

.text-main {
    color: #1c78c4 !important;
}

a.text-main:hover,
a.text-main:focus {
    color: #196baf !important;
}

.outline-0:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.border-low {
    border-color: darkgray !important;
}

.border-1 {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-3 {
    border-width: 3px;
}

.border-4 {
    border-width: 4px;
}

.border-5 {
    border-width: 5px;
}

.bold{
    font-weight: bold;
}